
.runner {
    height: 100%;
    overflow: auto;
}
.runner .el-card__header {
    text-align: left;
    padding: 8px 12px 8px 12px;
}
.runner .el-card__body {
    height: calc(100% - 55px) !important;
    padding: 8px;
}
.runner .el-card__body .el-textarea__inner {
    resize: none;
}

.runner .el-card__header .el-input {
    width: 180px !important;
    margin-top: 0px;
    margin-bottom: -1px;
}
.runner .el-card__header .el-input .el-input__inner {
    padding-bottom: 0px;
    line-height: 22px;
    height: 22px;
    padding-left: 3px;
    padding-right: 3px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.runner .el-card__header .btn {
    margin-left: 6px;
    float: right;
    padding: 3px 3px;
}
.runner .el-card__header .upload {
    margin-left: 0px;
    border-left: none;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
